#pbOverlay,
#pbImage,
#pbBottom,
#pbCloseBtn {
    position: fixed;
    z-index: 9999;
}

#pbOverlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    cursor: pointer;
}

#pbCloseBtn {
    top: 20px;
    right: 30px;
    display: block;
    width: 50px;
    height: 50px;
    background: url(/images/closebutton.png) no-repeat top left;
}

.pbLoading {
    background: #000 url(/images/loading.gif) no-repeat center !important;
}

#pbImage {
    box-shadow: 0 0 20px #fff;
    cursor: move;
}

#pbBottom {
    font-size: 15px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    left: 50px;
    bottom: 10px;
    width: 400px;
    margin-left: -200px;
}

#pbCaption {
    font-weight: bolder;
    padding: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}

#pbNav {
    display: block;
    width: 282px;
    height: 70px;
    margin: 5px auto 0;
}

#pbPreBtn,
#pbNextBtn,
#pbZoomBtn,
#pbLeftBtn,
#pbRightBtn {
    display: inline-block;
    height: 70px;
    background: url(/images/navbtns.png);
}

#pbPreBtn {
    background-position: -223px 0;
    width: 40px;
    float: left;
}

#pbNextBtn {
    background-position: -337px 0;
    width: 40px;
    float: right;
}

#pbZoomBtn {
    background-position: -263px 0;
    width: 74px;
    float: left;
}

#pbLeftBtn {
    background-position: -159px 0;
    width: 64px;
    float: left;
}

#pbRightBtn {
    background-position: -337px 0;
    width: 64px;
    float: right;
}

#pbPreBtn.pbgreyed {
    background-position: -521px 0;
}

#pbNextBtn.pbgreyed {
    background-position: -560px 0;
}

#pbZoomBtn.pbgreyed {
    background-position: -74px 0;
}

#pbZoomBtn.pbgzoomed {
    background-position: 0 0;
}