/* 共用結構設定 */
/* 頁首頁尾設定 */
#header,
#footer {
    width: 960px;
    padding: 0 10px;
}

#logo a {
    width: 285px;
    height: 150px;
}

/* 選單設定 */
#nav {
    width: 675px;
}

#main-nav a {
    margin-left: 15px;
}

/* 版面主結構 */
#main-content {
    width: 960px;
    padding: 0 10px;
    margin: 30px auto;
}

/* 內頁版面設定 */
/* 首頁設定 */
.slogan {
    width: 90%;
    height: auto;
    float: none;
    margin: 0 auto;
}

.post {
    width: 440px;
    margin: 50px 20px;
}

.post_img {
    width: 440px;
}

.post_text {
    width: 400px;
    height: 150px;
}

.post .more {
    margin-top: 0;
}

#picshow {
    width: 960px;
    margin: 0 auto;
}

/* ---About設定--- */
#mainpic{
    width: 950px;
    grid-template-rows: 50% 50%;
    background-color: rgb(95, 172, 157);
}
#contact_form, #map{
    width: 49%;
}

/* ---Store設定--- */
.officebox{
    width: 45%;
    height: 300px;
}

.officebox img{
    width: auto;
    height: 300px;
}

/* ---Product設定--- */
.demobox{
    width: calc(36% - 58px);
    height: auto;
}

/* ---News設定--- */
.news_pic{
    width: 30%;
    height: 280px;
}
.news_pic img{
    width: auto;
    height: 100%;
}
.news_txt{
    width: 70%;
}

/* ---News - Chid設定--- */
#outbox{
    width: calc(100% - 20px);
    padding: 10px;
}
.content_box{
    width: calc(100% - 10px);
    margin: 5px;
}

.overlay{
    width: calc(100% - 10px);
    left: 5px;
}