<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta naem="Keywords" content="demo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome my demo web - New</title>
    <!-- 網站字型-->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <!--網站小圖示 -->
    <!-- <link rel="shorcut icon" href="images/icon-main.ico"> -->
    <!-- 歸零CSS    -->
    <link rel="stylesheet" href="../css/reset.css">
    <!-- 變數設定CSS-->
    <link rel="stylesheet" href="../css/basic.css">
    <!-- 設定版面CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Google icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- JQeury setting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/gotop.js"></script>
    <!-- 共用JS -->
    <script src="/js/slide.min.js"></script>
    <!-- 媒體查詢CSS -->
    <link rel="stylesheet" href="../css/style-m.css" media="(max-width:1239px) and (min-width:980px)">
    <link rel="stylesheet" href="../css/style-s.css" media="(max-width:979px)">
    <!-- icon圖標 -->
    <link rel="stylesheet" href="../css/icon-style.css">
    <!-- banner setting -->
    <link rel="stylesheet" href="../css/slide.css">
</head>

<body>
    <div id="header">
        <div id="logo">
            <h1><span>Weapon</span><a href="index.html"></a></h1>
        </div>
        <div id="nav">
            <!-- 上層的固定選單 -->
            <nav id="top-nav">
                <ul>
                    <li><a href="#0"><span class="material-icons">app_shortcut</span><span class="topnav-text">Go to
                                App</span></a></li>
                    <li><a href="#0"><span class="material-icons">storefront</span><span class="topnav-text">Online
                                Shop</span></a></li>
                </ul>
            </nav>
            <!-- 漢堡選單 -->
            <nav id="main-nav">
                <span class="tip">Click to Open Nevigation.</span>
                <input type="checkbox" class="toggler">
                <div class="hamburger">
                    <div></div>
                </div>
                <div class="menu">
                    <div>
                        <div>
                            <ul>
                                <li><a href="about.html">About</a></li>
                                <li><a href="stores.html">Stores</a></li>
                                <li><a href="products.html">Products</a></li>
                                <li><a href="New.html" class="highlight_txt">New</a>
                                    <ul>
                                        <li><a href="New_lady.html">Lady</a></li>
                                        <li><a href="New_girl.html">Girl</a></li>
                                        <li><a href="New_child.html">Child</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                                <p id="nav-sns">
                                    <a href="#" target="_blank">
                                        <span class="icon-fb"></span>
                                    </a>
                                    <a href="#" target="_blank">
                                        <span class="icon-ig"></span>
                                    </a>
                                    <a href="#" target="_blank">
                                        <span class="icon-twitter"></span>
                                    </a>
                                    <a href="#" target="_blank">
                                        <span class="icon-linked"></span>
                                    </a>
                                </p>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- 橫幅區塊 -->
    <div class="hero-image"
        style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(../images/Hololive123.png);">
        <div class="hero-text">
            <h1 class="font-size-50 line-height_15">Hololive</h1>
            <p class="margin_bottom-20">check out it</p>
            <button>fuck</button>
        </div>
    </div>
    <!-- 內容區塊 -->
    <div id="main-content">
        <div class="newspost">
            <div class="news_pic border-radius_30">
                <a href="#"><img src="/images/Bae1.png" class="flip_img" alt=""></a>
            </div>
            <div class="news_txt">
                <div class="category">
                    <a href="#"><img src="/images/tag.svg" class="flip_img" alt="">Document</a>
                    <span class="date">
                        <span class="date_day">19</span>
                        <span class="date_month">Aug</span>
                    </span>
                </div>
                <h4>起神像但百澡法身，央穴她抄字休。</h4>
                <p class="text-align_justify">
                    古反同住司背松八司？牙服蝸幸再元跟休消話丟鳥科。背夏斤成正奶昔皮誰叫幼從訴欠，刀日陽良娘爸方東兒，爪姊抄交美胡門以的羽會封皮畫。旁說或、里想小年鳥青方士山。文教抄。半几穴空六三聲亮。</p>
                <p><a href="#" class="more">More...</a></p>
            </div>
        </div>
        <div class="newspost">
            <div class="news_pic border-radius_30">
                <a href="#"><img src="/images/FBK2.png" class="flip_img" alt=""></a>
            </div>
            <div class="news_txt">
                <div class="category">
                    <a href="#"><img src="/images/tag.svg" class="flip_img" alt="">Document</a>
                    <span class="date">
                        <span class="date_day">19</span>
                        <span class="date_month">Aug</span>
                    </span>
                </div>
                <h4>起神像但百澡法身，央穴她抄字休。</h4>
                <p class="text-align_justify">
                    古反同住司背松八司？牙服蝸幸再元跟休消話丟鳥科。背夏斤成正奶昔皮誰叫幼從訴欠，刀日陽良娘爸方東兒，爪姊抄交美胡門以的羽會封皮畫。旁說或、里想小年鳥青方士山。文教抄。半几穴空六三聲亮。</p>
                <p><a href="#" class="more">More...</a></p>
            </div>
        </div>
        <div class="newspost">
            <div class="news_pic border-radius_30">
                <a href="#"><img src="/images/Fulaya1.png" class="flip_img" alt=""></a>
            </div>
            <div class="news_txt">
                <div class="category">
                    <a href="#"><img src="/images/tag.svg" class="flip_img" alt="">Document</a>
                    <span class="date">
                        <span class="date_day">19</span>
                        <span class="date_month">Aug</span>
                    </span>
                </div>
                <h4>起神像但百澡法身，央穴她抄字休。</h4>
                <p class="text-align_justify">
                    古反同住司背松八司？牙服蝸幸再元跟休消話丟鳥科。背夏斤成正奶昔皮誰叫幼從訴欠，刀日陽良娘爸方東兒，爪姊抄交美胡門以的羽會封皮畫。旁說或、里想小年鳥青方士山。文教抄。半几穴空六三聲亮。</p>
                <p><a href="#" class="more">More...</a></p>
            </div>
        </div>
        <div class="newspost">
            <div class="news_pic border-radius_30">
                <a href="#"><img src="/images/Marin1.png" class="flip_img" alt=""></a>
            </div>
            <div class="news_txt">
                <div class="category">
                    <a href="#"><img src="/images/tag.svg" class="flip_img" alt="">Document</a>
                    <span class="date">
                        <span class="date_day">19</span>
                        <span class="date_month">Aug</span>
                    </span>
                </div>
                <h4>起神像但百澡法身，央穴她抄字休。</h4>
                <p class="text-align_justify">
                    古反同住司背松八司？牙服蝸幸再元跟休消話丟鳥科。背夏斤成正奶昔皮誰叫幼從訴欠，刀日陽良娘爸方東兒，爪姊抄交美胡門以的羽會封皮畫。旁說或、里想小年鳥青方士山。文教抄。半几穴空六三聲亮。</p>
                <p><a href="#" class="more">More...</a></p>
            </div>
        </div>
        <div class="newspost">
            <div class="news_pic border-radius_30">
                <a href="#"><img src="/images/Anya1.png" class="flip_img" alt=""></a>
            </div>
            <div class="news_txt">
                <div class="category">
                    <a href="#"><img src="/images/tag.svg" class="flip_img" alt="">Document</a>
                    <span class="date">
                        <span class="date_day">19</span>
                        <span class="date_month">Aug</span>
                    </span>
                </div>
                <h4>起神像但百澡法身，央穴她抄字休。</h4>
                <p class="text-align_justify">
                    古反同住司背松八司？牙服蝸幸再元跟休消話丟鳥科。背夏斤成正奶昔皮誰叫幼從訴欠，刀日陽良娘爸方東兒，爪姊抄交美胡門以的羽會封皮畫。旁說或、里想小年鳥青方士山。文教抄。半几穴空六三聲亮。</p>
                <p><a href="#" class="more">More...</a></p>
            </div>
        </div>
        <div id="nav_bar">
            <!-- 左箭頭 -->
            <a href="#" class="tooltip">
                <i class="material-icons">navigate_before</i>
                <span class="tooltiptext">Previous 5 Pages</span>
            </a>
            <!-- 1~5 pages -->
            <a href="#"><i class="material-icons current_icon">looks_one</i></a>
            <a href="#"><i class="material-icons">looks_two</i></a>
            <a href="#"><i class="material-icons">looks_3</i></a>
            <a href="#"><i class="material-icons">looks_4</i></a>
            <a href="#"><i class="material-icons">looks_5</i></a>
            <!-- 右箭頭 -->
            <a href="#" class="tooltip">
                <i class="material-icons">navigate_next</i>
                <span class="tooltiptext">Previous 5 Pages</span>
            </a>
        </div>
    </div>
    <!-- footer -->
    <div id="footer">
        <div id="small-logo">
            <img src="" alt="">
        </div>
        <div id="copyright">
            <small>Copyright 2022 Weapon</small>
            <a href="tel:+123456789">tel:+123456789</a>
        </div>
        <div id="sns">
            <a href="#" target="_blank">
                <span class="icon-fb"></span>
            </a>
            <a href="#" target="_blank">
                <span class="icon-ig"></span>
            </a>
            <a href="#" target="_blank">
                <span class="icon-twitter"></span>
            </a>
            <a href="#" target="_blank">
                <span class="icon-linked"></span>
            </a>
        </div>
    </div>
    <!-- Go Top  -->
    <div id="gotop">
        <ion-icon class="arrow-up-circle-outline" name="arrow-up-circle-outline"></ion-icon>
        <span class="gotip">Go Back To Top</span>
    </div>
    <!-- ionicon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>