<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta naem="Keywords" content="demo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome my demo web - New lady</title>
    <!-- 網站字型-->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <!--網站小圖示 -->
    <!-- <link rel="shorcut icon" href="images/icon-main.ico"> -->
    <!-- 歸零CSS    -->
    <link rel="stylesheet" href="../css/reset.css">
    <!-- 變數設定CSS-->
    <link rel="stylesheet" href="../css/basic.css">
    <!-- 設定版面CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Google icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- JQeury setting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/gotop.js"></script>
    <!-- 共用JS -->
    <script src="/js/slide.min.js"></script>
    <!-- 媒體查詢CSS -->
    <link rel="stylesheet" href="../css/style-m.css" media="(max-width:1239px) and (min-width:980px)">
    <link rel="stylesheet" href="../css/style-s.css" media="(max-width:979px)">
    <!-- icon圖標 -->
    <link rel="stylesheet" href="../css/icon-style.css">
    <!-- banner setting -->
    <link rel="stylesheet" href="../css/slide.css">
</head>

<body>
    <div id="header">
        <div id="logo">
            <h1><span>Weapon</span><a href="index.html"></a></h1>
        </div>
        <div id="nav">
            <!-- 上層的固定選單 -->
            <nav id="top-nav">
                <ul>
                    <li><a href="#0"><span class="material-icons">app_shortcut</span><span class="topnav-text">Go to
                                App</span></a></li>
                    <li><a href="#0"><span class="material-icons">storefront</span><span class="topnav-text">Online
                                Shop</span></a></li>
                </ul>
            </nav>
            <!-- 漢堡選單 -->
            <nav id="main-nav">
                <span class="tip">Click to Open Nevigation.</span>
                <input type="checkbox" class="toggler">
                <div class="hamburger">
                    <div></div>
                </div>
                <div class="menu">
                    <div>
                        <div>
                            <ul>
                                <li><a href="about.html">About</a></li>
                                <li><a href="stores.html">Stores</a></li>
                                <li><a href="products.html">Products</a></li>
                                <li><a href="New.html" class="highlight_txt">New</a>
                                    <ul>
                                        <li><a href="New_lady.html" class="highlight_txt">Lady</a></li>
                                        <li><a href="New_girl.html">Girl</a></li>
                                        <li><a href="New_child.html">Child</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                                <p id="nav-sns">
                                    <a href="#" target="_blank">
                                        <span class="icon-fb"></span>
                                    </a>
                                    <a href="#" target="_blank">
                                        <span class="icon-ig"></span>
                                    </a>
                                    <a href="#" target="_blank">
                                        <span class="icon-twitter"></span>
                                    </a>
                                    <a href="#" target="_blank">
                                        <span class="icon-linked"></span>
                                    </a>
                                </p>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- 橫幅區塊 -->
    <div class="hero-image"
        style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(../images/Holomen\ 2.png);">
        <div class="hero-text">
            <h1 class="font-size-50 line-height_15 text_uppercase font-weight_bolder">Lady</h1>
            <h3 class="margin_top-50">
                <a href="New.html" class="text_uppercase font-weight_bolder">News</a>
                <i class="material-icons">keyboard_arrow_right</i>Lady
            </h3>
            <button>fuck</button>
        </div>
    </div>
    <!-- 內容區塊 -->
    <div id="main-content">
        <h1>Hololive</h1>
        <hr>
        <h2 class="text_nocase">Hololive man</h2>
        <p class="font-size_bigger">Best Girl</p>

        <!-- 4欄圖文開始 -->
        <div class="row">
            <div class="column">
                <div class="content">
                    <img src="/images/Anya1.png" alt="">
                    <p class="category">Anya</p>
                    <!-- 折疊按鈕 -->
                    <button class="collapsible">Click To See More...</button>
                    <p class="collaps_text margin_V3">Hololive Indonesia-2rd</p>
                    <a href="#">See More...</a>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <img src="/images/風真1.png" alt="">
                    <p class="category">風真</p>
                    <!-- 折疊按鈕 -->
                    <button class="collapsible">Click To See More...</button>
                    <p class="collaps_text margin_V3">Hololive Indonesia-2rdHololive Indonesia-2rdHololive
                        Indonesia-2rd
                        Hololive Indonesia-2rdHololive Indonesia-2rd</p>
                    <a href="#">See More...</a>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <img src="/images/Norl3.png" alt="">
                    <p class="category">Norl</p>
                    <!-- 折疊按鈕 -->
                    <button class="collapsible">Click To See More...</button>
                    <p class="collaps_text margin_V3">Hololive Indonesia-2rd</p>
                    <a href="#">See More...</a>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <img src="/images/Towa2.png" alt="">
                    <p class="category">Towa</p>
                    <!-- 折疊按鈕 -->
                    <button class="collapsible">Click To See More...</button>
                    <p class="collaps_text margin_V3">Hololive Indonesia-2rd</p>
                    <a href="#">See More...</a>
                </div>
            </div>
        </div>
        <!-- 4欄圖文結束 -->
        <figure>
            <img src="/images/En2-1.png" alt="">
            <figcaption>t is a long established fact that a reader will be distracted by the readable content of
                a page
                when looking at its layout.</figcaption>
        </figure>
        <div class="column-text">
            <!-- 折疊按鈕 -->
            <button class="collapsible">Click To See More...</button>
            <p class="collaps_downtext">
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
                was born
                and I will give you a complete account of the system, and expound the actual teachings of the
                great
                explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or
                avoids
                pleasure itself, because it is pleasure, but because those who do not know how to pursue
                pleasure
                rationally encounter consequences that are extremely painful. Nor again is there anyone who
                loves or
                pursues or desires to obtain pain of itself, because it is pain, but because occasionally
                circumstances
                occur in which toil and pain can procure him some great pleasure. To take a trivial example,
                which of us
                ever undertakes laborious physical exercise, except to obtain some advantage from it? But who
                has any
                right to find fault with a man who chooses to enjoy a pleasure that has no annoying
                consequences, or one
                who avoids a pain that produces no resultant pleasure?
            </p>
        </div>
        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.maxHeight) {
                        content.style.maxHeight = null;
                    } else {
                        content.style.maxHeight = content.scrollHeight + "px"
                    }
                });
            }
        </script>
    </div>
    <!-- footer -->
    <div id="footer">
        <div id="small-logo">
            <img src="" alt="">
        </div>
        <div id="copyright">
            <small>Copyright 2022 Weapon</small>
            <a href="tel:+123456789">tel:+123456789</a>
        </div>
        <div id="sns">
            <a href="#" target="_blank">
                <span class="icon-fb"></span>
            </a>
            <a href="#" target="_blank">
                <span class="icon-ig"></span>
            </a>
            <a href="#" target="_blank">
                <span class="icon-twitter"></span>
            </a>
            <a href="#" target="_blank">
                <span class="icon-linked"></span>
            </a>
        </div>

    </div>
    <!-- Go Top  -->
    <div id="gotop">
        <ion-icon class="arrow-up-circle-outline" name="arrow-up-circle-outline"></ion-icon>
        <span class="gotip">Go Back To Top</span>
    </div>
    <!-- ionicon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>