<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta naem="Keywords" content="demo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome my demo web - New lady</title>
    <!-- 網站字型-->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <!--網站小圖示 -->
    <!-- <link rel="shorcut icon" href="images/icon-main.ico"> -->
    <!-- 歸零CSS    -->
    <link rel="stylesheet" href="../css/reset.css">
    <!-- 變數設定CSS-->
    <link rel="stylesheet" href="../css/basic.css">
    <!-- 設定版面CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Google icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- JQeury setting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/gotop.js"></script>
    <!-- 共用JS -->
    <script src="/js/slide.min.js"></script>
    <!-- 媒體查詢CSS -->
    <link rel="stylesheet" href="../css/style-m.css" media="(max-width:1239px) and (min-width:980px)">
    <link rel="stylesheet" href="../css/style-s.css" media="(max-width:979px)">
    <!-- icon圖標 -->
    <link rel="stylesheet" href="../css/icon-style.css">
    <!-- banner setting -->
    <link rel="stylesheet" href="../css/slide.css">
</head>

<body>
    <div id="header">
        <div id="logo">
            <h1><span>Weapon</span><a href="index.html"></a></h1>
        </div>
        <div id="nav">
            <!-- 上層的固定選單 -->
            <nav id="top-nav">
                <ul>
                    <li><a href="#0"><span class="material-icons">app_shortcut</span><span class="topnav-text">Go to
                                App</span></a></li>
                    <li><a href="#0"><span class="material-icons">storefront</span><span class="topnav-text">Online
                                Shop</span></a></li>
                </ul>
            </nav>
            <!-- 漢堡選單 -->
            <nav id="main-nav">
                <span class="tip">Click to Open Nevigation.</span>
                <input type="checkbox" class="toggler">
                <div class="hamburger">
                    <div></div>
                </div>
                <div class="menu">
                    <div>
                        <div>
                            <ul>
                                <li><a href="about.html">About</a></li>
                                <li><a href="stores.html">Stores</a></li>
                                <li><a href="products.html">Products</a></li>
                                <li><a href="New.html" class="highlight_txt">New</a>
                                    <ul>
                                        <li><a href="New_lady.html">Lady</a></li>
                                        <li><a href="New_girl.html" class="highlight_txt">Girl</a></li>
                                        <li><a href="New_child.html">Child</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                                <p id="nav-sns">
                                    <a href="#" target="_blank">
                                        <span class="icon-fb"></span>
                                    </a>
                                    <a href="#" target="_blank">
                                        <span class="icon-ig"></span>
                                    </a>
                                    <a href="#" target="_blank">
                                        <span class="icon-twitter"></span>
                                    </a>
                                    <a href="#" target="_blank">
                                        <span class="icon-linked"></span>
                                    </a>
                                </p>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- 橫幅區塊 -->
    <div class="hero-image"
        style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(../images/Holomen\ 2.png);">
        <div class="hero-text">
            <h1 class="font-size-50 line-height_15 text_uppercase font-weight_bolder">Lady</h1>
            <h3 class="margin_top-50">
                <a href="New.html" class="text_uppercase font-weight_bolder">News</a>
                <i class="material-icons">keyboard_arrow_right</i>Lady
            </h3>
            <button>fuck</button>
        </div>
    </div>
    <!-- 內容區塊 -->
    <div id="main-content" class="bg_piggy overflow_hidden">
        <!-- 左側 -->
        <div class="leftcolumn">
            <div class="card">
                <h2>Hololive 最高</h2>
                <h5>以下VTuber名單參見hololive production官網，除holostars角色設定均為男性以外，其餘團體的角色設定均為女性</h5>
                <div class="cardimg"><img src="/images/Holomen2.png" alt=""></div>
                <p>A member of the Council and the Warden of "Time," the third concept birthed by the Gods and the one
                    most intrinsically linked with mankind.</p>
                <p><img src="/images/Suisei3.png" alt=""><img src="/images/Koyori2.png" alt=""></p>
                <p>官方的人物設定為「一個喜歡唱歌和追星且永遠都是18歲的偶像Vtuber，夢想有一天能在武道館舉辦演唱會。」
                    直播時的開場白是「如彗星般出現的星之原石，我是虛擬偶像星街彗星。」[註 1]和「彗醬——今天也很可愛！」</p>
                <p>《秘密結社holoX》の研究者。メンバーの面倒を見ながら、人間観察も行っている。研究熱心、好奇心旺盛で、他人のリアクション見たさから、つい悪戯をしてしまうことも。自称「holoXの頭脳」。しかし、その知識には偏りがあるようだ。
                </p>
            </div>
            <div class="card">
                <h2>Hololive 最高</h2>
                <h5>以下VTuber名單參見hololive production官網，除holostars角色設定均為男性以外，其餘團體的角色設定均為女性</h5>
                <div class="cardimg"><img src="/images/hololive.jpeg" alt=""></div>
                <p>A member of the Council and the Warden of "Time," the third concept birthed by the Gods and the one
                    most intrinsically linked with mankind.</p>
                <p><img src="/images/Korni 1.png" alt=""><img src="/images/Kro1.png" alt=""></p>
                <p>A member of the Council and the Warden of "Time," the third concept birthed by the Gods and the one
                    most intrinsically linked with mankind.</p>
                <p>"'Ello! Fingers! Give me your fingers!"
                    A dog from a bakery in the city. She likes to play games during her free time while watchdogging.
                </p>
            </div>
        </div>
        <!-- 右側 -->
        <div class="rightcolumn">
            <div class="card">
                <h2></h2>
                <div class="cardimg"><img class="pic_drop-shadow" src="/images/Suba .png" alt=""></div>
                <p>総合格闘技部とe-sports部のマネージャーをしている。男勝りな性格で、誰とも分け隔てなく接する、明るく元気で活発な子。ゲームは絶賛練習中。</p>
            </div>
            <!-- Popular Post -->
            <div class="card">
                <h2>Popular Post</h2>
                <a href="/images/Suisei1.png" rel="lightbox-g1" title="suisei">
                    <div class="cardimg"><img src="/images/Korni1.png" alt="Korni"></div>
                    <span>Korni</span>
                </a>
                <a href="/images/Suisei2.png" rel="lightbox-g1" title="suisei">
                    <div class="cardimg"><img src="/images/Suisei2.png" alt="suisei"></div>
                    <span>suisei</span>
                </a>
                <a href="/images/Suisei3.png" rel="lightbox-g1" title="suisei">
                    <div class="cardimg"><img src="/images/Suisei3.png" alt="suisei"></div>
                    <span>suisei</span>
                </a>
                <a href="/images/Towa1.png" rel="lightbox-g2" title="Towa">
                    <div class="cardimg"><img src="/images/Towa1.png" alt="towa"></div>
                    <span>towa</span>
                </a>
                <a href="/images/Towa4.png" rel="lightbox-g2" title="Towa">
                    <div class="cardimg"><img src="/images/Towa4.png" alt="towa"></div>
                    <span>towa</span>
                </a>
                <a href="/images/Zeta1.png" rel="lightbox-g2" title="Zeta">
                    <div class="cardimg"><img src="/images/Zeta1.png" alt="zeta"></div>
                    <span>zeta</span>
                </a>
                <a href="/images/獅獅戎1.png" rel="lightbox-g2" title="shishi">
                    <div class="cardimg"><img src="/images/獅獅戎1.png" alt="shishiru"></div>
                    <span>shishiru</span>
                </a>
                <a href="/images/凌目1.png" rel="lightbox-g2" title="ayama">
                    <div class="cardimg"><img src="/images/凌目1.png" alt="ayama"></div>
                    <span>ayama</span>
                </a>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div id="footer">
        <div id="small-logo">
            <img src="" alt="">
        </div>
        <div id="copyright">
            <small>Copyright 2022 Weapon</small>
            <a href="tel:+123456789">tel:+123456789</a>
        </div>
        <div id="sns">
            <a href="#" target="_blank">
                <span class="icon-fb"></span>
            </a>
            <a href="#" target="_blank">
                <span class="icon-ig"></span>
            </a>
            <a href="#" target="_blank">
                <span class="icon-twitter"></span>
            </a>
            <a href="#" target="_blank">
                <span class="icon-linked"></span>
            </a>
        </div>

    </div>
    <!-- Go Top  -->
    <div id="gotop">
        <ion-icon class="arrow-up-circle-outline" name="arrow-up-circle-outline"></ion-icon>
        <span class="gotip">Go Back To Top</span>
    </div>
    <!-- ionicon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>