<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta naem="Keywords" content="demo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome my demo web - Store</title>
    <!-- 網站字型-->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <!--網站小圖示 -->
    <!-- <link rel="shorcut icon" href="images/icon-main.ico"> -->
    <!-- 歸零CSS    -->
    <link rel="stylesheet" href="../css/reset.css">
    <!-- 變數設定CSS-->
    <link rel="stylesheet" href="../css/basic.css">
    <!-- 設定版面CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Google icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- JQeury setting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/gotop.js"></script>
    <!-- 共用JS -->
    <script src="/js/slide.min.js"></script>
    <!-- 媒體查詢CSS -->
    <link rel="stylesheet" href="../css/style-m.css" media="(max-width:1239px) and (min-width:980px)">
    <link rel="stylesheet" href="../css/style-s.css" media="(max-width:979px)">
    <!-- icon圖標 -->
    <link rel="stylesheet" href="../css/icon-style.css">
    <!-- banner setting -->
    <link rel="stylesheet" href="../css/slide.css">
</head>

<body>
    <div id="header">
        <div id="logo">
            <h1><span>Weapon</span><a href="index.html"></a></h1>
        </div>
        <div id="nav">
            <!-- 上層的固定選單 -->
            <nav id="top-nav">
                <ul>
                    <li><a href="#0"><span class="material-icons">app_shortcut</span><span class="topnav-text">Go to
                                App</span></a></li>
                    <li><a href="#0"><span class="material-icons">storefront</span><span class="topnav-text">Online
                                Shop</span></a></li>
                </ul>
            </nav>
            <!-- 漢堡選單 -->
            <nav id="main-nav">
                <span class="tip">Click to Open Nevigation.</span>
                <input type="checkbox" class="toggler">
                <div class="hamburger">
                    <div></div>
                </div>
                <div class="menu">
                    <div>
                        <div>
                            <ul>
                                <li><a href="about.html">About</a></li>
                                <li><a href="stores.html">Stores</a></li>
                                <li><a href="products.html" class="highlight_txt">Products</a></li>
                                <li><a href="New.html">New</a>
                                    <ul>
                                        <li><a href="New_lady.html">Lady</a></li>
                                        <li><a href="New_girl.html">Girl</a></li>
                                        <li><a href="New_child.html">Child</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                                <p id="nav-sns">
                                    <a href="#" target="_blank">
                                        <span class="icon-fb"></span>
                                    </a>
                                    <a href="#" target="_blank">
                                        <span class="icon-ig"></span>
                                    </a>
                                    <a href="#" target="_blank">
                                        <span class="icon-twitter"></span>
                                    </a>
                                    <a href="#" target="_blank">
                                        <span class="icon-linked"></span>
                                    </a>
                                </p>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- 橫幅區塊 -->
    <div class="hero-image"
        style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(../images/Hololive123.png);">
        <div class="hero-text">
            <h1 class="font-size-50 line-height_15">Hololive</h1>
            <p class="margin_bottom-20">check out it</p>
            <button>fuck</button>
        </div>
    </div>
    <!-- 內容區塊 -->
    <div id="main-content">
        <div class="demobox">
            <h5>Hololive summer</h5>
            <a href="holoman.html">
                <div class="bg_top" style="background-image: url(../images/Anya1.png);"></div>
            </a>
            <p class="margin_v2">汁都怕服園水抄石公寺汗怎點看。由乍乙巴哪，常穴火？乙帽法七白眼像己穿肉。友几原民汗抓要相以耳巴息何，氣相固明少片怕世。</p>
            <p class="more"><a href="holoman.html">View more <i class="material-icons">double_arrow</i></a></p>
        </div>
        <div class="demobox">
            <h5>Hololive summer</h5>
            <a href="holoman.html">
                <div class="bg_top" style="background-image: url(../images/Akqua_1.png);"></div>
            </a>
            <p class="margin_v2">汁都怕服園水抄石公寺汗怎點看。由乍乙巴哪，常穴火？乙帽法七白眼像己穿肉。友几原民汗抓要相以耳巴息何，氣相固明少片怕世。</p>
            <p class="more"><a href="holoman.html">View more <i class="material-icons">double_arrow</i></a></p>
        </div>
        <div class="demobox">
            <h5>Hololive summer</h5>
            <a href="holoman.html">
                <div class="bg_top" style="background-image: url(../images/Fulaya_1.png);"></div>
            </a>
            <p class="margin_v2">汁都怕服園水抄石公寺汗怎點看。由乍乙巴哪，常穴火？乙帽法七白眼像己穿肉。友几原民汗抓要相以耳巴息何，氣相固明少片怕世。</p>
            <p class="more"><a href="holoman.html">View more <i class="material-icons">double_arrow</i></a></p>
        </div>
        <div class="demobox">
            <h5>Hololive summer</h5>
            <a href="holoman.html">
                <div class="bg_bottom" style="background-image: url(../images/Anya1.png);"></div>
            </a>
            <p class="margin_v2">嗎丟說次他。甲何但民植書哭欠科候或，姊月我院土書頭不田過亭肖帶千。常東河！春笑六斤買到氣几員采朱想冰象向找公看蝶，口丁心者。</p>
            <p class="more"><a href="holoman.html">View more <i class="material-icons">double_arrow</i></a></p>
        </div>
        <div class="demobox">
            <h5>Hololive summer</h5>
            <a href="holoman.html">
                <div class="bg_bottom" style="background-image: url(../images/Akqua_1.png);"></div>
            </a>
            <p class="margin_v2">嗎丟說次他。甲何但民植書哭欠科候或，姊月我院土書頭不田過亭肖帶千。常東河！春笑六斤買到氣几員采朱想冰象向找公看蝶，口丁心者。</p>
            <p class="more"><a href="holoman.html">View more <i class="material-icons">double_arrow</i></a></p>
        </div>
        <div class="demobox">
            <h5>Hololive summer</h5>
            <a href="holoman.html">
                <div class="bg_bottom" style="background-image: url(../images/Fulaya_1.png);"></div>
            </a>
            <p class="margin_v2">嗎丟說次他。甲何但民植書哭欠科候或，姊月我院土書頭不田過亭肖帶千。常東河！春笑六斤買到氣几員采朱想冰象向找公看蝶，口丁心者。</p>
            <p class="more"><a href="holoman.html">View more <i class="material-icons">double_arrow</i></a></p>
        </div>
    </div>
    <!-- footer -->
    <div id="footer">
        <div id="small-logo">
            <img src="" alt="">
        </div>
        <div id="copyright">
            <small>Copyright 2022 Weapon</small>
            <a href="tel:+123456789">tel:+123456789</a>
        </div>
        <div id="sns">
            <a href="#" target="_blank">
                <span class="icon-fb"></span>
            </a>
            <a href="#" target="_blank">
                <span class="icon-ig"></span>
            </a>
            <a href="#" target="_blank">
                <span class="icon-twitter"></span>
            </a>
            <a href="#" target="_blank">
                <span class="icon-linked"></span>
            </a>
        </div>
    </div>
    <!-- Go Top  -->
    <div id="gotop">
        <ion-icon class="arrow-up-circle-outline" name="arrow-up-circle-outline"></ion-icon>
        <span class="gotip">Go Back To Top</span>
    </div>
    <!-- ionicon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>