<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta naem="Keywords" content="demo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome my demo web - Store</title>
    <!-- 網站字型-->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <!--網站小圖示 -->
    <!-- <link rel="shorcut icon" href="images/icon-main.ico"> -->
    <!-- 歸零CSS    -->
    <link rel="stylesheet" href="../css/reset.css">
    <!-- 變數設定CSS-->
    <link rel="stylesheet" href="../css/basic.css">
    <!-- 設定版面CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Google icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- JQeury setting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/gotop.js"></script>
    <!-- 共用JS -->
    <script src="/js/slide.min.js"></script>
    <!-- 媒體查詢CSS -->
    <link rel="stylesheet" href="../css/style-m.css" media="(max-width:1239px) and (min-width:980px)">
    <link rel="stylesheet" href="../css/style-s.css" media="(max-width:979px)">
    <!-- icon圖標 -->
    <link rel="stylesheet" href="../css/icon-style.css">
    <!-- banner setting -->
    <link rel="stylesheet" href="../css/slide.css">
</head>

<body>
    <div id="header">
        <div id="logo">
            <h1><span>Weapon</span><a href="index.html"></a></h1>
        </div>
        <div id="nav">
            <!-- 上層的固定選單 -->
            <nav id="top-nav">
                <ul>
                    <li><a href="#0"><span class="material-icons">app_shortcut</span><span class="topnav-text">Go to
                                App</span></a></li>
                    <li><a href="#0"><span class="material-icons">storefront</span><span class="topnav-text">Online
                                Shop</span></a></li>
                </ul>
            </nav>
            <!-- 漢堡選單 -->
            <nav id="main-nav">
                <span class="tip">Click to Open Nevigation.</span>
                <input type="checkbox" class="toggler">
                <div class="hamburger">
                    <div></div>
                </div>
                <div class="menu">
                    <div>
                        <div>
                            <ul>
                                <li><a href="about.html">About</a></li>
                                <li><a class="highlight_txt" href="stores.html">Stores</a></li>
                                <li><a href="products.html">Products</a></li>
                                <li><a href="New.html">New</a>
                                    <ul>
                                        <li><a href="New_lady.html">Lady</a></li>
                                        <li><a href="New_girl.html">Girl</a></li>
                                        <li><a href="New_child.html">Child</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                                <p id="nav-sns">
                                    <a href="#" target="_blank">
                                        <span class="icon-fb"></span>
                                    </a>
                                    <a href="#" target="_blank">
                                        <span class="icon-ig"></span>
                                    </a>
                                    <a href="#" target="_blank">
                                        <span class="icon-twitter"></span>
                                    </a>
                                    <a href="#" target="_blank">
                                        <span class="icon-linked"></span>
                                    </a>
                                </p>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div id="nav">
            <ul>

            </ul>
        </div>
    </div>
    <!-- 橫幅區塊 -->
    <div class="hero-image"
        style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(../images/F-16.jpeg);">
        <div class="hero-text">
            <h1 class="font-size-50 line-height_15">Weapon</h1>
            <p class="margin_bottom-20">check out it</p>
            <button>fuck</button>
        </div>
    </div>
    <!-- 內容區塊 -->
    <div class="full_layout bg_piggy">
        <div id="maintxt">
            <h2 class="color_pink">About Us</h2>
            <p>乍具丟幼媽花回造果一帽玩直牙想天院奶休。學次皮回知屋他第節像國氣朋婆斤清叫鼻向香；汗亭男白朱我王肖又新真唱「氣」隻。</p>
            <p>很就讀哥干香許從入；向能音羊第羽喜後兆主院犬半朋虎，種泉加快造飯世活何枝幸氣雨把祖紅何且反：錯鳥黃采荷即回旁斗害那香服黃的或動！乍八見主雪泉汗。</p>
        </div>

    </div>
    <!-- Logo網格 -->
    <div id="main-content">
        <h2 class="color_pink text-aling_center">Main office</h2>
        <p class="subtext">
            山聽荷叫詞鼻說重東游女怎把下活棵公讀；即門畫貫，象几日巴聲把點蝸停、許眼至但帶神。助問玉種新邊冰知中玉結火清把卜；抓東鴨兄欠黑由：急姊青元公化遠風愛時、秋來師媽飯刀各，跑奶活記裝牠多跳亮金。</p>
        <div class="officebox">
            <img src="../images/Akqua1.png" alt="">
            <a href="tel:+123456789">
                <p class="middle">CALL FOR CONSULTATION</p>
            </a>
        </div>
        <div class="officebox">
            <img src="../images/Ayama1.png" alt="">
            <a href="tel:+123456789">
                <p class="middle">CALL FOR CONSULTATION</p>
            </a>
        </div>
        <div class="officebox">
            <img src="../images/Bae1.png" alt="">
            <a href="tel:+123456789">
                <p class="middle">CALL FOR CONSULTATION</p>
            </a>
        </div>
        <div class="officebox">
            <img src="../images/FBK2.png" alt="">
            <a href="tel:+123456789">
                <p class="middle">CALL FOR CONSULTATION</p>
            </a>
        </div>
        <div class="officebox">
            <img src="../images/FUBK1.png" alt="">
            <a href="tel:+123456789">
                <p class="middle">CALL FOR CONSULTATION</p>
            </a>
        </div>
        <div class="officebox">
            <img src="../images/Fulaya1.png" alt="">
            <a href="tel:+123456789">
                <p class="middle">CALL FOR CONSULTATION</p>
            </a>
        </div>
        <div class="officebox">
            <img src="../images/Hololive.png" alt="">
            <a href="tel:+123456789">
                <p class="middle">CALL FOR CONSULTATION</p>
            </a>
        </div>
        <div class="officebox">
            <img src="../images/Holomen1.png" alt="">
            <a href="tel:+123456789">
                <p class="middle">CALL FOR CONSULTATION</p>
            </a>
        </div>
        <div class="officebox">
            <img src="../images/Kanata1.png" alt="">
            <a href="tel:+123456789">
                <p class="middle">CALL FOR CONSULTATION
                </p>
            </a>
        </div>
        <div class="officebox">
            <img src="../images/Marin1.png" alt="">
            <a href="tel:+123456789">
                <p class="middle">CALL FOR
                    CONSULTATION</p>
            </a>
        </div>
        <div class="officebox">
            <img src="../images/Mei1.png" alt="">
            <a href="tel:+123456789">
                <p class="middle">CALL
                    FOR CONSULTATION</p>
            </a>
        </div>
        <div class="officebox">
            <img src="../images/Miko1.png" alt="">
            <a href="tel:+123456789">
                <p class="middle">
                    CALL FOR
                    CONSULTATION
                </p>
            </a>
        </div>
    </div>
    <!-- footer -->
    <div id="footer">
        <div id="small-logo">
            <img src="" alt="">
        </div>
        <div id="copyright">
            <small>Copyright 2022 Weapon</small>
            <a href="tel:+123456789">tel:+123456789</a>
        </div>
        <div id="sns">
            <a href="#" target="_blank">
                <span class="icon-fb"></span>
            </a>
            <a href="#" target="_blank">
                <span class="icon-ig"></span>
            </a>
            <a href="#" target="_blank">
                <span class="icon-twitter"></span>
            </a>
            <a href="#" target="_blank">
                <span class="icon-linked"></span>
            </a>
        </div>
    </div>
    <!-- Go Top  -->
    <div id="gotop">
        <ion-icon class="arrow-up-circle-outline" name="arrow-up-circle-outline"></ion-icon>
        <span class="gotip">Go Back To Top</span>
    </div>
    <!-- ionicon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>